.GlucoseList {
  display: flex;
  flex-direction: column;

  .Red {
    color: red;
  }

  .Green {
    color: green;
  }

  .Orange {
    color: orange;
  }

  .ButtonItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
  }
}
