.Layout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 6rem);

  @media screen and (max-width: 500px) {
    align-items: flex-start;
  }

  .Container {
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #e1e1e1;
    display: flex;

    @media screen and (max-width: 500px) {
      width: 100%;
      height: calc(100vh - 10rem);
      border: none;
      overflow: auto;
    }
  }
}
