.Layout {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 6rem);
  align-items: flex-start;


  .Container {
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    height: calc(100vh - 15rem);
    overflow: auto;
    width: 100%;
    border: none;
  }
}
