.Calculator, .Products {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .Autocomplete, .TextField {
    width: 100%;
  }

  .TotalValue {
    position: fixed;
    font-size: 25px;
    bottom: 70px;
    left: 1rem;
  }
}
